// .top-header-left *{
//   text-align: left: !important;
// }

.top-header-right *{
  text-align: right !important;
}
.top-header{
  small{
    font-size: 14px;
    font-weight: light;
    color: $black;
  }
}
.header{
  .logo{
    width: 70px !important;
  }
}
.header-left {
  padding-bottom: 10px !important;
}

.header-right {
  padding-bottom: 10px !important;
}
