<table class="fluid-container black">
  <tr>
    <td>
      <container class="header black">
        <row class="collapse">
          <columns large="2" class="header-left">
            <spacer size="5"></spacer>
            <img src="../assets/img/logo-adidas.png" alt="Adidas" class="logo">
          </columns>
          <columns large="10" valign="bottom" class="collapse main-navigation">
            <a href="#">MEN'S</a>
            <a href="#">WOMEN'S</a>
            <a href="#">KIDS</a>
            <a href="#">CUSTOMIZE</a>
          </columns>
        </row>
      </container>
    </td>
  </tr>
</table>
