<container class="top-header">
  <row class="collapse">
    <columns small="12" large="6">
      <spacer size="5"></spacer>
      <small class="small-text show-for-large">See more</small>
    </columns>
    <columns small="12" large="6" class="top-header-right show-for-large">
      <spacer size="5"></spacer>
      <a href="#" class="text-right">
        <small>View this email online</small>
      </a>
    </columns>
    <columns small="12" large="6" class="hide-for-large">
      <a href="#">
        <small>View this email online+</small>
        <spacer size="15"></spacer>
      </a>
    </columns>
  </row>
</container>
